*{
  margin: 0;
  padding: 0;
}




/* nav,
header,
footer {
  display: block;
} */

/* body {
  margin: 0 auto;
  background: #F5F5F5;
} */

header {
  background: rgba(46, 42, 233, 0.05);
}

.nav_container {
  width: 90%;
  margin: auto;
  font-family: Noto Serif HK;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* .logo {
  display: block;
} */

.logo h1 {
  font-size: 40px;
  font-weight: 400;
  /* margin: 0 auto; */
  color: #7774e7;
}

.logo span {
  color: #e774c7;
}

.logo p {
  font-size: 20px;
  /* line-height: 34px; */
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.25);
}

.nav_container ul {
  display: grid;
  grid-template-columns: repeat(5, 0.7fr);
  align-items: center;
}

.nav_container ul li {
  list-style: none;
}

.nav_container ul li a {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
  color: #000;
}

.nav_container ul li a:hover {
  background-color: gray;
  color: #fff;
  border-radius: 2rem;
  width: 59%;
  transition: all 0.5s ease-in-out;
}

.homebtn {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 117px;
  border-radius: 20px;
  padding: 10px;
  font-family: Inter;
  font-size: 18px;
  background: radial-gradient(
    120.45% 533.2% at 100% -34.09%,
    #7774e7 0%,
    rgba(46, 42, 233, 0.4) 100%,
    rgba(78, 75, 232, 0.665933) 100%,
    rgba(75, 71, 232, 0.637215) 100%
  );
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.5);
  height: 55px;
}


/* HOME PAGE */
.intro {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
  font-family: Inter;
}

.intro_left h1 {
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 2rem;
  width: 80%;
}

.light_text {
  font-weight: 400;
}

.intro_left p {
  font-family: Noto Serif HK;
  font-size: 16px;
  line-height: 23px;
  width: 80%;
  margin-bottom: 3rem;
}

.introbtn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 60px;
  width: 210px;
  left: 120px;
  margin-top: 25px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  background: radial-gradient(
    120.45% 533.2% at 100% -34.09%,
    #7774e7 0%,
    rgba(46, 42, 233, 0.4) 100%,
    rgba(78, 75, 232, 0.665933) 100%,
    rgba(75, 71, 232, 0.637215) 100%
  );
  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.intro_right {
  margin: auto;
}

.services {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Inter, sans-serif;
}
.servicesh3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #f4a60f;
  margin-bottom: 1.5rem;
}

.service_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #00000040;
}

.whatwedo {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 1.5rem;

}

.service_boxes {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
  gap: 3rem;
}

.service_box {
  width: 350px;
  padding: 0rem 2rem 2rem 2rem;
  background: rgba(46, 42, 233, 0.05);
  border: 1px solid #ffffff;
  border-radius: 30px;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.5);
}

.service_box h3{
  margin-bottom: 1rem;
}

.service_box p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  color: #00000040;
  margin-bottom: 1.5rem;

}

.getstarted {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.getstarted h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}

.service_boxicon {
  position: relative;
  margin-bottom: 12rem;
}

.service_boxicon img {
  position: absolute;
  left: -2rem;
  border-radius: 30px 0 0 0;
}

.about {
  font-family: Inter, sans-serif;
  width: 85%;
  margin: auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 1rem; */
}

.about_left h3 {
  font-size: 24px;
  font-weight: 600;
  color: #f4a60f;
  margin-bottom: 1.5rem;
}

.about_left h4 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.about_left p {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  color: #00000040;
}

.aboutbtn {
  margin-top: 200px;
  width: 236px;
  border-radius: 20px;
  padding: 10px;
}


/* WHY CHOOSE US */
.whychooseus {
  font-family: Inter, sans-serif;
  width: 85%;
  margin: auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.whychooseusimg {
  /* margin-left: 120px; */
  margin-top: 10rem;
  width: 100%;
}

.whychooseusimg img {
  width: 76%;
}

/* .whychooseus_box {
  width: 100%;
  margin: 0 auto;
  display: block;
} */

.whychooseus_boxtxt {
  /* margin: auto; */
  /* margin-left: 45%; */
  
  display: flex;
  align-items: end;
  flex-direction: column;
}

.whychooseus_boxtxt h4 {
  font-size: 20px;
  text-align: right;
  font-weight: 600;
  line-height: 29px;
  color: #f4a60f;
  margin-bottom: 1.5rem;
}

.whychooseus_boxtxt h3 {
  width: 80%;
  text-align: right;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 1.5rem;

}

.whychooseus_box_items {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.whychooseus_box_items_txt h4 {
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  font-weight: 600;
}

.whychooseus_box_items_txt p {
  width: 452px;
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  color: #00000040;
}


.statistics {
  width: 100%;
  margin: 0 auto;
  background-color: #2e2ae90d;
  margin-top: 4rem;
  font-family: Inter, sans-serif;
}

.statistics_top {
  text-align: center;
  padding-top: 2.5rem;
}

h4.heading {
  text-align: center;
  color: #f4a60f;
  margin-bottom: 1rem;

  font-size: 24px;
  font-weight: 600;
}

h3.heading_two {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 36px;
  font-weight: 500;
}

.statistics_top p {
  height: 38px;
  /* background-color: greenyellow; */
  
  font-size: 16px;
  font-weight: 400;
  color: #00000040;
}

.statistics_bottom {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  padding: 1rem;
}

.statistics_bottom_box {
  text-align: center;
  height: 277px;
  width: 272px;
  left: 120px;
  top: 321px;
  border-radius: 30px;
  background-color: #ffffff;
}

.statistics_bottom_box_img {
  /* height: 100px; */
  /* width: 100px; */
  padding-top: 2rem;
  border-radius: 30px;
}

.statistics_bottom_box_h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.statistics_bottom_box_p {
  font-size: 24px;
  font-weight: 500;

  color: #00000040;
}

.seevideo {
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  font-family: Inter, sans-serif;
}

.seevideo_img {
  text-align: center;
  padding-top: 3rem;
}

.letsstart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
  width: 50%;
  margin: auto;
  border-radius: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
  background-color: #2e2ae90d;
}

.letsstart_left h4 {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #f4a60f;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.letsstart_left p {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 1rem;
}

button.freequote_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 261px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  border: none;
  cursor: pointer;

  padding: 1rem;
  color: #fff;
  background: radial-gradient(
      120.45% 533.2% at 100% -34.09%,
      #7774e7 0%,
      rgba(46, 42, 233, 0.4) 100%,
      rgba(78, 75, 232, 0.665933) 100%,
      rgba(75, 71, 232, 0.637215) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
}

/*/////------------- MOBILE ---------//////////*/

@media screen and (max-width: 375px) {
  .nav_container {
    width: 90%;
  }

  .nav_container ul li:not(:nth-child(1)) {
    display: none;
  }

  /* /* .service_boxes {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 25%;
  }

  .service_box {
    width: 60%;
  } */

  .intro {
    grid-template-columns: 1fr;
  }

  .intro_left {
    margin-left: 0;
    text-align: left;
  }

  .intro_left h1 {
    font-size: 50px;
  }

  .service_boxes {
    width: 100%;
    margin-left: 10rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .about {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .nav_container {
    padding: 1rem 0;
  }

  .nav_container ul li a {
    font-size: 16px;
    margin-right: 1rem;
  }

  .homebtn {
    font-size: 16px;
  }

  .logo p {
    margin-top: -1rem;
  }
}